*********************************************************
*                                                       *
* DRILL TAPE SUMMARY REPORT                             *
*                                                       *
* Z:\DESENVOLVIMENTO\NIXIE_CLOCK\HARDWARE\NIXIE_V2.MAX  *
* Mon Jun 24 12:05:19 2019                              *
*                                                       *
*********************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       25       24       200      100                                                                                 
T2       28       264      200      100                                                                                 
T3       31       14       200      100                                                                                 
T4       34       160      200      100                                                                                 
T5       37       50       200      100                                                                                 
T6       39       69       200      100                                                                                 
T7       43       2        200      100                                                                                 
T8       50       18       200      100                                                                                 
T9       100      3        200      100                                                                                 
T10      138      4        200      100                                                                                 
